body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.626);
}

h1 {
  text-align: center;
}

.main {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: crimson;
  color: white;
  border-radius: 8px;
}
button {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin: 10px;
  border-radius: 8px;
}
